.MainPage {
}

.MainPage_container {
  width: 900px;
  margin: 0 auto;
  padding: 10px 100px 20px;
}

.MainPage_hero-container {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
  background-color: var(--color-primary);
}

.heroText {
  text-align: center;
  color: var(--color-primary);
}


.MainPage_hero {
  font-size: 70px;
  color: white;
  margin-bottom: 20px;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10vh;
  text-align: center;
  font-size: 20px;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, 0%) rotate(45deg);
}
