.NavWrapper_container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

.NavWrapper_header {
  color: var(--color-dark);
  padding: 15px;
  border-bottom: 1px solid var(--color-dark);
  margin-bottom: 20px;
}

.NavWrapper_brand {
  font-size: 30px;
}

.NavWrapper_brand a {
  color: var(--color-dark);
  text-decoration: none;
}
